.header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  padding: 2vh 0;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  background: rgb(0 0 0 / 0%);
  transition: all 0.3s ease;

  .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 0 24px;

    .header_ttl {
      align-items: center;
      margin-left: auto;
      font-size: 0.6rem;
      color: #0f0f0f;

      a {
        display: flex;

        h1 {
          font-weight: 600;
          letter-spacing: 0.09em;
        }

        span {
          margin: 0 5px;
        }

        h2 {
          letter-spacing: 0.08em;
        }
      }
    }

    .toggle_btn {
      z-index: 3;
      display: block;
      width: 60px;
      height: 30px;
      cursor: pointer;
      transition: all 0.5s;
      transform: translate(0, 0);

      span {
        position: absolute;
        left: 0;
        display: block;
        width: 30px;
        height: 2px;
        background-color: #0f0f0f73;
        transition: all 0.5s;

        &:nth-child(1) {
          top: 5px;
          width: 60px;
          animation: equalizer01 7000ms infinite;
        }

        &:nth-child(2) {
          top: 15px;
          width: 30px;
          animation: equalizer02 5000ms infinite;
          animation-delay: 0.33s;
        }

        &:nth-child(3) {
          top: 25px;
          width: 20px;
          animation: equalizer02 5000ms infinite;
        }
      }
    }
  }
}

@media (min-width: 480px) {
  .header {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 8rem;
  }
}

@media (min-width: 1024px) {
  .header {
    .inner {
      max-width: 1024px;
      padding: 0;
      margin: auto;
    }
  }
}
