.sns_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  a {
    margin: 5px 10px;

    svg {
      width: 1.4rem;
      height: 1.4rem;
      fill: #595959;
    }
  }
}
