.about_body {
  display: flex;
  flex-flow: column;

  .profile_img {
    width: 200px;
    height: 200px;
    margin: auto;
    background-image: url('/profile.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .box_text {
    padding: 40px 0;
    margin: auto;

    .title {
      display: flex;
      align-items: center;
      font-size: 1.5rem;

      .sub_title {
        margin: 10px;
        font-size: 0.6em;
        font-weight: normal;
      }
    }

    .text {
      margin-top: 20px;
      font-size: 0.8rem;
      line-height: 2;
      letter-spacing: 0.2em;
    }
  }
}

@media (min-width: 480px) {
  .about_body {
    flex-flow: row-reverse;

    .profile_img {
      width: 280px;
      height: 280px;
      margin: 20px;
    }

    .box_text {
      .text {
        font-size: 0.8rem;
      }
    }
  }
}
