/* stylelint-disable scss/at-rule-no-unknown */
@import 'https://use.typekit.net/uht4tfc.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-muli;
    @apply leading-relaxed tracking-wider p-0 m-0 text-default bg-default;
  }

  a {
    @apply text-inherit no-underline;
  }

  * {
    @apply box-border;
  }
}

@layer components {
  .bg-mask {
    @apply absolute top-0 w-full h-full bg-black opacity-5;
  }

  /**
* microCMS
*/
  #micro_cms_article {
    @apply font-noto;

    // 目次
    #toc {
      .h3 {
        @apply flex items-center ml-4 text-xs my-1.5;
        @apply before:w-1.5 before:h-1.5 before:content-[''] before:bg-gray-300 before:rounded-full;

        &.active {
          @apply before:bg-violet-400;
        }
      }

      .h2 {
        @apply flex items-center text-sm my-2 text-default;
        @apply before:w-2 before:h-2 before:content-[''] before:bg-gray-300 before:rounded-full;

        &.active {
          @apply before:bg-teal-400;
        }
      }
    }

    // 見出し
    h2 {
      @apply relative pb-0.5 pl-3 border-b-2 border-gray-200 text-default;

      &::before {
        @apply absolute inline-block top-[0.09rem] -left-2 w-2 h-full content-[''] bg-teal-400;
      }
    }

    h3 {
      @apply relative ml-4 pl-2;

      &::before {
        @apply absolute inline-block top-0 -left-2 w-1.5 h-full content-[''] bg-violet-400 rounded;
      }
    }

    // リンク
    .prose {
      a {
        @apply text-blue-500 no-underline cursor-pointer;
      }

      u {
        @apply no-underline  bg-gradient-to-b from-transparent via-transparent to-teal-200;
      }

      // 太字
      strong {
        @apply font-bold;
      }

      // 引用
      blockquote {
        @apply text-gray-500 bg-gray-200 font-normal text-sm border-l-0 p-4 not-italic;
      }

      pre {
        @apply p-1;
      }

      code {
        @apply before:content-[''] after:content-[''] rounded-sm;
      }

      img {
        @apply shadow-md shadow-gray-300 my-2;
      }
    }
  }
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }

  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}
