/* stylelint-disable scss/at-rule-no-unknown */
@import 'https://use.typekit.net/uht4tfc.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply leading-relaxed tracking-wider;
  }
}

@layer components {
  .bg-mask {
    @apply absolute top-0 w-full h-full bg-black opacity-5;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: muli, sans-serif;
  color: #333;
  background-color: rgb(248 248 250);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
