#mv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background: url('/mv.jpg');

  /* background: linear-gradient(to bottom, transparent 90%, transparent 0%, #fff 100%), url('/mv.jpg'); */
  background-size: cover;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav a {
  padding: 0 12px;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.footer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.footer a {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  #mv {
    justify-content: flex-start;
    padding: 20px;
  }

  .links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .nav {
    flex-direction: column;
  }
}
